.centered {
  text-align: center;
  padding: 5px 15px 10px 15px;
}

.main-title {
  font-size: 30px;
}

.mat-tree-node {
  padding-top: 5px;
  padding-bottom: 5px;
}

.routerLink:link
{
   color: #fb3f00;
   text-decoration: none;
}
.routerLink:visited
{
   color: #fb3f00;
   text-decoration: none;
}
.routerLink:hover
{
   color: #fb3f00;
   text-decoration: none;
}
.routerLink:active
{
   color: #fb3f00;
   text-decoration: none;
}
