img {
  align: right;
  width: 300px;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
  font-size: 20px;
}

.container {
  display: flex;
  width: 100%;
}

.flex-item {
  flex: 1 1 auto;
}

.center {
   position: relative;
   width: 100%;
   text-align: center;
   font-size: 20px
   // top: 50%;
   // transform: translateY(-50%);
  // margin: auto;
  // width: 50%;
  // padding: 10px;
}


.routerLink:link
{
   color: #6480ad;
   text-decoration: none;
}
.routerLink:visited
{
   color: #6480ad;
   text-decoration: none;
}
.routerLink:hover
{
   color: #6480ad;
   text-decoration: none;
}
.routerLink:active
{
   color: #6480ad;
   text-decoration: none;
}
