<mat-card>
<div class="container">
  <mat-card class="flex-item center">
      <ul class="center">
        <li><a class="routerLink" routerLink="">Home Page</a></li>
        <li><a class="routerLink" routerLink="/lesson-select">Lessons</a></li>
        <li><a class="routerLink" routerLink="/lesson/text-lesson/1">Text Lesson</a></li>
      </ul>
  </mat-card>
  <mat-card class="flex-item center">
    <img src="../../assets/Pingo_Flight.gif" alt="Site Mascot" class="center">
  </mat-card>
  <mat-card class="flex-item center">
    <ul>
    <li  class="center">University of Tennessee, Knoxville</li>
    <li  class="center">CS340-19</li>
    <li  class="center">Instructor: Dr. Audris Mockus</li>
    </ul>
  </mat-card>
</div>
<mat-card>
