<div class="container">
  <div class="flex-item">
      <ul class="center">
        <li>About</li>
        <li>Contact</li>
        <li>Options</li>
        <li>Donate</li>
      </ul>
  </div>
  <div class="flex-item">
    <img src="../../assets/linux4kids_detective.gif" alt="Site Mascot" class="center">
  </div>
  <div class="flex-item">
    <div  class="center">University of Tennessee, Knoxville</div>
    <div  class="center">CS340-19</div>
    <div  class="center">Instructor: Dr. Audris Mockus</div>
  </div>
</div>
