<mat-sidenav-container>
  <mat-sidenav #sidebar mode="over" style="background-color: black;">
    <div><a mat-raised-button routerLink="">Home Page</a></div>
    <div><a mat-raised-button routerLink="/lesson-select">Lessons</a></div>
    <div><a mat-raised-button routerLink="/lesson/text-lesson/1">Text Lesson</a></div>
    <div><a mat-raised-button routerLink="/lesson/terminal-lesson">Terminal Lesson</a></div>

  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
