/* You can add global styles to this file, and also import other style files */
@import "theme.scss";
@import '~@angular/material/theming';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "app/sidebar/sidebar.component.scss-theme";
@include mat-core();

// @import "@angular/material/prebuilt-themes/purple-green.css";

@mixin custom-components-theme($theme) {
  @include sidebar-component-theme($theme);
}

* {
  margin: 0;
  padding: 0;
}

mat-toolbar-row {
  justify-content: space-between;
}
@include sidebar-component-theme($dark-theme);
@include angular-material-theme($dark-theme);
.my-theme {
  @include angular-material-theme($theme);
  @include custom-components-theme($theme);
}

.centered {
  width: 75%;
  margin: 0 auto;
  padding: 5px 15px 10px 15px;
}

.loading {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #272c33;
    padding-top: 25vh;
    text-align: center;
    z-index: -1;
    transition: opacity .8s ease-out;
}

.container {
  display: flex;
}

.flex-item {
  flex-grow: 1
}
