<div class="container">
  <!--  previously just image as class-->
  <div class="flex-item">
    <app-text-container>
      <p title>Detective Pingo</p>
      <img src="../assets/linux4kids_detective.gif" alt-text="Site Mascot" class="image" body>

    </app-text-container>
    <app-text-container>
        <p title>Pingo</p>
        <div body>
            This is our wonderful mascot as designed by David W. He will guide you
            on your spiritual journey to learn about the Linux operating system.
        </div>
    </app-text-container>
    <app-text-container class="vertical">
      <p title>Our Team</p>
      <div body>
        our team here - need profile component and images
      </div>
    </app-text-container>
  </div>
  <div class="vertical flex-item">
    <app-text-container>
      <p title>Welcome</p>
      <div body>
        <p>
          Welcome to Linux-4-Kids! Our goal is to provide you with easy access to a resource
          to learn about Linux and it's terminal. Our tutorials are aimed at younger a younger
          audience with little to no background with Linux. By using our tutorials you will
          learn what Linux is, how it is different (and better than) Windows, how to use
          and navigate it on your machine, and terminal commands that have a wide variety
          of practical uses.
        </p>
        <br>
        <p>
          So what are you waiting for!?!? Go learn some Linux! And say hi to our Mascot,
          Detective Pingo, along the way.
        </p>
        <br>
        <div><img src="../../assets/computer_penguin_done.gif" class="inside-img"></div>
      </div>
    </app-text-container>
  </div>
</div>
