<div class="container">
<app-text-container class="sided">
  <p title>Detective Pingo</p>
  <img src="../assets/linux4kids_detective.gif" alt-text="Site Mascot" body>
</app-text-container>
<app-text-container class="sided">
  <p title>Welcome</p>
  <p body> We're gonna teach you all about the Linux command line. I hope your
  ready to learn and I hope someone writes a better welcome because content
  editing is not my strong suit. <img src="../../assets/computer_penguin_done.gif"></p>
</app-text-container>
</div>
